{% extends "base.html" %}
{% block title %}Retrieve Feedback{% endblock %}
{% block content %}
{% if 'feedback_created' in session %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ session.pop('feedback_created', None) }} was created.
</div>
{% elif 'feedback_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ session.pop('feedback_deleted', None) }} was deleted.
</div>
{% elif 'email_sent' in session %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ session.pop('email_sent', None) }} was sent.
</div>
{% elif 'error_sending_email' in session %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ session.pop('error_sending_email', None) }} was not sent.
</div>
{% endif %}
<h1 class="display-4"><b>Feedbacks</b></h1>

<div>
    {% if count == 0 %}
    <p>There are no items.</p>
    {% elif count == 1 %}
    <p>There is 1 item.</p>
    {% else %}
    <p>There are {{ count }} items.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Feedback</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks_list %}
        <tr>
            <td>{{ feedback.get_feedback_id() }}</td>
            <td>{{ feedback.get_name() }}</td>
            <td>{{ feedback.get_email() }}</td>
            <td style="white-space: normal; width: auto; word-wrap: break-word;">{{ feedback.get_feedback() }}</td>
            <td><a href="/replyFeedback" class="btn btn-secondary">Reply</a></td>

            <td>
                <form action="{{url_for('delete_feedback', id=feedback.get_feedback_id())}}" method="POST">
                    <!--       <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#}{#user.get_last_name()#}?');">-->
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#myModal_{{feedback.get_feedback_id()}}">Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{feedback.get_feedback_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete the feedback?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}